<html>
    <body>
        <div class="id">
        <pre>
        <h2><a href="http://localhost:5000/user_registration">Create New User</a></h2><br>
        <h2><a href="http://localhost:5000/list">Show Existing Users</a></h2><br>
        <h2><a href="http://localhost:5000/update">Update User</a></h2><br>
        <h2><a href="http://localhost:5000/delete">Delete User</a></h2>
        <h2><a href="http://localhost:5000/search">Find user</a></h2>
        <h2><a href="http://localhost:5000/login_page">Login</a></h2>
        </pre>
        </div>
    </body>
</html>