{% from "helper.html" import render_field %}

<html>
    <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            
            <script src="/static/login.js"></script> 
                    
            
    </head>
    <body>
            
        <h1>Sign Up</h1>
        
        <div class="1">
        
          
        <form method="POST" id="formoid" >
                
            <dl>
            {{ form.csrf_token }}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            
        
        <input type="submit" value="submit" id="aht_btn">
        
        </dl>
        </form>
        </div>
    </body>
</html>